<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792559849115-n9qo6fbl29m3mo0g2098evda3hinh4kq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792559849115-n9qo6fbl29m3mo0g2098evda3hinh4kq</string>
	<key>API_KEY</key>
	<string>AIzaSyDfh7HTI8SzO-SJB5Hf8ZKxXNxqcFGWO6E</string>
	<key>GCM_SENDER_ID</key>
	<string>792559849115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.totalchris.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-39678</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-39678.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792559849115:ios:ebedea03fb25da8f12803e</string>
</dict>
</plist>